a{ 
    color: black;
}

body{
    background-color: rgb(249, 206, 232);
    text-align: center;
    text-decoration: wavy;
    color: rgb(87, 62, 62);
}


@media screen and (max-device-width: 500px){

    body{
        font-size: 16px;
    }

}

@media screen and (min-device-width: 992px){

    body{
        font-size: 18px;
    }

}

summary:active{
    color:#FCA9DB;
}

div.name {
    display: inline-block;
}

div.presence {
    position:relative;
    height: auto;
    width: auto;
    display: inline-block;
}


#figure{
    height: 300px;
    max-width: 180px;
}

footer{
    background-color: color(srgb 90% 100% 100%);

}

h1, h2, h3{
    background-color: color-mix(in lch, plum, pink);
}

h2:has(+ div) {
    color: rgb(237, 60, 193);
}

header{
    background-color: #FCA9DB;

    & h3 {
        font-weight:lighter;
    }
}



main{
    background-color: hsl(0, 100%, 99%);
    margin:auto;
    display: block;
    min-width: none;
}

nav{
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
}

#navlink:hover{
    background-color: whitesmoke;
}

#navlink{
    margin: 3px 3px 3px 3px;
    padding: 1px 1px 1px 1px;
}
