*{
    font-family: 'Nunito';
}

a{ 
    color: black;
}

body{
    background-color: var(--background-color,  var(--fallback-bg));
    text-align: center;
    color: rgb(87, 62, 62);
}

@media screen and (max-width: 500px){

    body{
        font-size: 16px;
    }

}

@media screen and (min-width: 992px){

    body{
        font-size: 18px;
    }

}

summary:active{
    color:#FCA9DB;
}

div.name {
    display: inline-block;
}

div.presence {
    position:relative;
    height: auto;
    width: auto;
    display: inline-block;
}


#figure{
    height: 300px;
    max-width: 180px;
}

#figures {
    display:flex;
    justify-content: space-around;
    align-items: center;
}


footer{
    background-color: color(srgb 90% 100% 100%);
    display: grid;
    grid: 200px / auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
}

form > fieldset {
    color:deeppink;
    text-decoration: underline dotted;

}

form[action="add-action"] {
    background-color: #FCA9DB;
}

h1, h2, h3{
    background-color: color-mix(in lch, plum, pink);
    text-decoration: underline dashed;
}

h2:has(+ div) {
    color: rgb(237, 60, 193);
}

h2 ~ p {
    margin-bottom: 10%;
}

header{
    background-color: #FCA9DB;

    & h3 {
        font-weight:lighter;
    }
}

li+li{
    color:#e64da9
}


main{
    background-color: hsl(0, 100%, 99%);
    margin:auto;
    display: block;
    min-width: 0%;
}

nav{
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    flex-wrap: nowrap;
}

#navlink:hover{
    background-color: whitesmoke;
}

#navlink{
    margin: 3px 3px 3px 3px;
    padding: 1px 1px 1px 1px;
}

:root {
    --fallback-bg:  rgb(249, 206, 232);
}


ul li{
    text-align: left;
}

