body{
    background-color: rgb(249, 206, 232);
}

header{
    background-color: #FCA9DB;
}

footer{
    background-color: color(srgb 90% 100% 100%);

}

h3{
    background-color: color-mix(in lch, plum, pink);
}

#foormain{
    background-color: hsl(0, 100%, 99%);
}

a{
    color: black;
}

